.Navbar {
  display: flex;
  margin-bottom: 15px;
  .NavbarBrand {
    width: 40px;
  }
  .NavbarTitle {
    font-size: 1.2rem;
    margin-left:5px;
  }
  .NavBarSelect{
    margin-bottom:0 !important;
  }
}
