* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif; /* Tu peux ajuster */
  }
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}







  

