* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 



body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;

}


#root {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'Sue Ellen Francisco';
  src: url('./assets/fonts/SueEllenFrancisco.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Sue Ellen Francisco', sans-serif;
}

  

