/* ========== GLOBAL ========== */
.pageWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 24px;
}

.songTitle {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
}

/* ========== LANGUAGES ========== */
.languageToggle {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.languageToggle img {
  width: 32px;
  height: auto;
  transition: transform 0.2s ease;
}

.languageToggle img:hover {
  transform: scale(1.1);
}

/* ========== BACK ARROW ========== */
.backArrow img {
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
}

/* ========== FILTERS ========== */
.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 24px;
  width: 100%;
  max-width: 500px;
  padding: 0 16px;
}

/* ✅ Style global des <select> */
select {
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #000;
 
  background-color: #7ED957;
  cursor: pointer;
  margin: 5px;
 
  min-height: 50px;
  appearance: none; /* retire le style natif */
}

/* Bouton de reset */
.resetButton {
  padding: 14px;
  font-size: 1.1rem;
  background-color: #ffffff;
  border: 1px solid #000000;
  background-color: #1A4484;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-bottom: 12px;
}

.resetButton:hover {
  background-color: #ccc;
}

/* ========== RESPONSIVE DESKTOP/TABLETTE ========== */
@media (min-width: 768px) {
  .filterContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
  }

  select {
    flex: 1 1 45%;
    margin-bottom: 0;
  }

  .resetButton {
    flex: 1 1 100%;
    margin-bottom: 0;
  }
}

/* ========== RESPONSIVE MOBILE ========== */
@media (max-width: 767px) {
  .filterContainer {
    align-items: center;
  }

  select,
  .resetButton {
    display: block;
    margin: 10px auto;
    width: 90%;
    padding: 14px;
    max-width: 400px;
  }
}
