.pageWrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre tout */
  }
  
  .pageTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 24px;
  }
  
  .songCard {
    width: 90%;
    max-width: 600px;
    margin: 0 auto 16px auto; /* Centre la card */
    padding: 16px;
    border: 1px solid #1A4484 ;
    border-radius: 8px;
    background-color: #8a83836c;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
  }

  .songCard:hover  {
    background: white;
    color: #1A4484;
    transform: translateY(-5px)
  
  }
  
  .cardHeader {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  
  .icon {
    width: 60px;
    height: 60px;
    margin-right: 12px;
  }
  
  .title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
  }
  
  .cardBody {
    padding-left: 52px; /* Décalage pour aligner sous le titre */
  }
  
  .cardBody p {
    margin: 4px 0;
    font-size: 1.6rem;
  }
  

  .languageToggle {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    gap: 10px;
    cursor: pointer;
  }
  
  .languageToggle img {
    width: 32px;
    height: auto;
    transition: transform 0.2s ease;
  }
  
  .languageToggle img:hover {
    transform: scale(1.1);
  }
  